# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.AppImage

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directory
build/*

# Model directory
models/*

install/
inputs/*
outputs/*
AppDir/*
AppDir/models/*

# Exclude files
!*.gitkeep
!models/*.dll
!models/realesrgan-ncnn-vulkan
!models/*.exe
!AppDir/models
!AppDir/models/*.gitkeep
!AppDir/*.desktop
!AppDir/AppRun
!AppDir/AIScaler.png
